*{
  margin:0;
  padding:0;
}
body{
  background-color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width:100%;
  color:white;
  top:0;
  background-color:black;
  padding-top:30px;
  padding-bottom:15px;
}
#logo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:52px;
  height:50px;
  margin-left:20px;
}
#logo_img{
  width:100%;
  height:100%;
  transition:250ms;
}
#logo_img:hover{
  cursor: pointer;
  filter: brightness(50%);
}
#sections_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section_wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:43px;
  padding:8px, 24.38px, 8px, 23px;
}
.section_p{
  font-size:18px;
  line-height:27px;
  font-weight:400;
  color:rgba(255, 255, 255, 1);
  transition:250ms;
}
.section_p:hover{
  cursor: pointer;
  color:rgba(255, 255, 255, 0.3);
}
#current_section_p{
  color:rgba(255, 255, 255, 0.3);
}
.section_message{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:17px;
  height:17px;
  border-radius:50%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) , rgba(200, 185, 244, 1));
  color:black;
  font-size:10px;
  font-weight:700;
  line-height:15px;
  margin-bottom:18px;
  left:7px;
}
#menu_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap:10px;
  width:80px;
  height:43;
  margin-right:20px;
  font-size:18px;
  font-weight:400;
  line-height:27px;
}
#menu_p{
  transition:250ms;
}
#menu_p:hover{
  cursor: pointer;
  color:rgba(255, 255, 255, 0.3);
}
main{
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:810px;
  margin-top:70px;
}
#design_studio_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:50%;
}
#design_studio_content_container{
  display: flex;
  text-align:right;
  justify-content:flex-end;
  width:100%;
  font-size:93.8px;
  font-weight:500;
  line-height:103.68px;
  color:white;
}
#rotated_content_container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap:40px;
  width:130%;
  height:54px;
  margin-top:60px;
  z-index:1;
  transform: scaleY(-1);
}
#content_arrow_img{
  width:40px;
  height:39px;
  transform: scaleY(-1);
}
#rotated_content_p{
  font-size:19px;
  font-weight:400;
  line-height:30px;
  color:rgba(255, 255, 255, 0.6);
}
#main_img_container{
  width:1008px;
  height:100%;
}
#main_img{
  width:100%;
  height:100%;
}